# Copyright 2022 RTDIP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
name: rtdip-sdk
channels:
    - conda-forge
    - defaults
dependencies:
    - python>=3.9,<3.13
    - importlib-metadata>=7.0.0
    - jinja2>=3.1.4
    - pytest==7.4.0
    - pytest-mock==3.11.1
    - pytest-cov==4.1.0
    - pylint==2.17.4
    - pip>=23.1.2
    - turbodbc==4.11.0
    - numpy>=1.23.4,<2.0.0
    - oauthlib>=3.2.2,<4.0.0
    - cryptography>=38.0.3
    - azure-identity>=1.12.0,<2.0.0
    - azure-storage-file-datalake>=12.12.0,<13.0.0
    - azure-keyvault-secrets>=4.7.0,<5.0.0
    - azure-mgmt-storage>=21.0.0
    - boto3>=1.28.2,<2.0.0
    - pyodbc>=4.0.39,<5.3.0
    - fastapi>=0.110.0,<1.0.0
    - httpx>=0.24.1,<1.0.0
    - pyspark>=3.3.0,<3.6.0
    - delta-spark>=2.2.0,<3.3.0
    - grpcio>=1.48.1
    - grpcio-status>=1.48.1
    - googleapis-common-protos>=1.56.4
    - openjdk>=11.0.15,<12.0.0
    - openai>=1.13.3,<2.0.0
    - mkdocs-material==9.5.20
    - mkdocs-material-extensions==1.3.1
    - mkdocstrings==0.25.0
    - mkdocstrings-python==1.10.8
    - mkdocs-macros-plugin==1.0.1
    - mkdocs-autorefs>=1.0.0,<1.1.0
    - pygments==2.16.1
    - pymdown-extensions==10.8.1
    - databricks-sql-connector>=3.1.0,<4.0.0
    - semver>=3.0.0,<4.0.0
    - xlrd>=2.0.1
    - pygithub>=1.59.0
    - pydantic>=2.6.0,<3.0.0
    - pyjwt>=2.8.0,<3.0.0
    - twine==4.0.2
    - delta-sharing-python>=1.0.0,<2.0.0
    - polars>=0.18.8,<1.0.0
    - xarray>=2023.1.0,<2023.8.0
    - ecmwf-api-client>=1.6.3,<2.0.0
    - netCDF4>=1.6.4,<2.0.0
    - black>=24.1.0
    - joblib==1.3.2,<2.0.0
    - great-expectations>=0.18.8,<1.0.0
    - statsmodels>=0.14.1,<0.15.0
    - pmdarima>=2.0.4
    - pip:
          - databricks-sdk>=0.20.0,<1.0.0
          - dependency-injector>=4.41.0,<5.0.0
          - azure-functions>=1.15.0,<2.0.0
          - azure-mgmt-eventgrid>=10.2.0
          - hvac>=1.1.1
          - langchain>=0.2.0,<0.3.0
          - langchain-community>=0.2.0,<0.3.0
          - build==0.10.0
          - deltalake>=0.10.1,<1.0.0
          - trio>=0.22.1
          - sqlparams>=5.1.0,<6.0.0
          - entsoe-py>=0.5.10,<1.0.0
          - web3>=6.18.0,<7.0.0
          - eth-typing>=4.2.3,<5.0.0
          - pandas>=1.5.2,<2.2.0
          - moto[s3]>=5.0.16,<6.0.0
          - pyarrow>=14.0.1,<17.0.0