/* === GENERAL STYLES === */

/* Reset default margins and padding to eliminate unexpected spacing */

body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

button {
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Roboto', 'Arial', sans-serif;
    cursor: pointer;
}

.a-button {
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Roboto', 'Arial', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.purple-span {
    color: #4E08C7;
}

.pink-span {
    color: #D445A3;
}

/* === CONTAINER STYLES === */

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

/* === INTO SECTION STYLES === */

.intro-section {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(78,8,199,1) 0%, rgba(78,8,199,1) 30%, rgba(167,26,170,1) 90%, rgba(212,69,163,1) 100%);
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    overflow: hidden;
}

.intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./images/terrain.png');
    background-size: 100% auto;
    background-repeat: no-repeat; 
    background-position: 50% 120%;
    z-index: 1;
}

.intro-section::after {
    content: "";
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(78,8,199,0) 0%, rgba(212,69,163,0.9) 80%, rgba(212,69,163,1) 100%);
    z-index: 2;
}

.intro-section-content {
    color: white;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 61rem;
}

.intro-left {
    height: 100%;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-right img {
    width: 100%;
    max-width: 800px;
}

.down-icon-button {
    z-index: 3;
    height: 20%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-icon-button img {
    height: 25px;
}

.down-icon-button img:hover {
    opacity: 0.8;
}

.intro-section-content h1 {
    font-size: 2rem;
    width: 100%;
    padding-left: 0.8rem;
}

.intro-section-content p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    padding-left: 0.8rem;
}

.intro-section-content-action {
    margin: 1.5rem 0;
    padding-left: 0.8rem;
}

.intro-section-content-action .a-button {
    background-color: white;
    color: #4E08C7;
}

.intro-section-content-action .a-button:hover {
    opacity: 0.9;
}

.intro-section-content-action .a-tag {
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 2rem;
    letter-spacing: 0.04rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.intro-section-content-action a:hover {
    opacity: 0.9;
}

@media (max-width: 992px) {
    .intro-section {
        scroll-snap-align: none;
        height: auto;
    }

    .intro-section-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .intro-left {
        height: 50%;
        width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 100px;
        padding: 20px;
    }
    
    .intro-right {
        height: 300px;
        width: 100%;
        max-width: 500px;
    }
    
    .intro-right img {
        max-width: 80%;
        height: auto;
        display: block;
    }    

    .intro-section-content-action .a-button {
        height: 40px;
        width: 150px;
        font-size: 1rem;
    }
    
    .intro-section-content-action .a-tag{
        height: 40px;
        width: 150px;
        font-size: 1rem;
    }

    .intro-section::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('./images/terrain.png');
        background-size: 200% auto;
        background-repeat: no-repeat;
        z-index: 1;
        background-position: bottom right;
    }
 }

/* === EXPECT SECTION STYLES === */

.expect-section {
    position: relative;
    background: rgb(167,26,170);
    background: linear-gradient(180deg, rgba(212,69,163,1) 0%, rgba(187,31,164,1) 100%);
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.expect-section h1 {
    font-size: 2.2rem;
    margin-top: 100px;
    margin-bottom: 60px;
}

.expect-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding: 0 150px;
    margin-top: 60px;
    margin-bottom: 100px;
}


.icon-with-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.icon-with-text h2 {
    font-size: 1rem;
    margin: 1rem 0rem;
}

.icon-with-text p {
    font-weight: 300;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
}

.circle-icon {
    background: white;
    color: white;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-icon img {
    height: 65%;
}

@media (max-width: 992px) {
    .expect-section {
        height: auto;
        scroll-snap-align: none;
    }

    .expect-section-grid { 
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .icon-with-text p {
        width: 70%;
        min-width: 350px;
    } 
 }

/* === PIPELINE SECTION STYLES === */

.pipeline-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    height: 120vh;
    flex-shrink: 0;
}

.pipeline-section h1 {
    font-size: 2.2rem;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.pipeline-section p {
    font-weight: 300;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.5rem;
    width: 50%;
}

.pipeline-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
    padding: 50px 150px;
}

.pipeline-section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #4E08C7;
    border-radius: 22px;
    padding: 15px;
    height: 100%;
}

.pipeline-section-item p {
    width: 90%;
}

.pipeline-item-img {
    width: 80%;
    margin-top: 1rem;
}

.pipeline-item-img img {
    width: 100%;
    height: 100%;
}

.pipeline-section .a-button {
    background-color: #4E08C7;
    color: white;
    margin-bottom: 60px;
}

.pipeline-section .a-button:hover {
    opacity: 0.9;
}

@media (max-width: 992px) {
    .pipeline-section {
        height: auto;
        scroll-snap-align: none;
    }

    .pipeline-section-item p {
        width: 100%;
    }
    
    .pipeline-section-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 50px;
        padding: 50px 150px;
    }

    .pipeline-section-grid > div:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    
    .pipeline-section-grid > div:nth-child(2) {
        grid-row: 1 / 2;
        grid-column: 3 / 5;
    }
    
    .pipeline-section-grid > div:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }
    
 }

@media (max-width: 768px) {

    .pipeline-section p {
        width: 90%;
    }

    .pipeline-section-grid {
      grid-template-columns: 1fr;
      gap: 50px;
      padding: 50px 80px;
    }

    .pipeline-section-grid > div:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .pipeline-section-grid > div:nth-child(2) {
        grid-row:  2 / 3;
        grid-column: 1 / 2;
    }
    
    .pipeline-section-grid > div:nth-child(3) {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }

  }


/* === QUERY BUILDER SECTION STYLES === */


.querybuilder-section {
    color: white;
    background-image: linear-gradient(180deg, rgb(89,13,195) 0%, rgba(167,26,170,1) 50%, rgba(203,65,165,1) 100%);
    min-height: 90vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.querybuilder-section .a-button {
    background-color: white;
    color: #D445A3;
    margin-bottom: 60px;
    margin-top:50px;
}

.querybuilder-section .a-button:hover {
    opacity: 0.9;
}

.querybuilder-section h1 {
    font-size: 2.2rem;
    margin-top: 4rem;
    padding-left: 6rem;
    align-self: flex-start;
}

.querybuilder-content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.querybuilder-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 50%;
    height: 80%;
    padding: 0 6rem;
}

.querybuilder-left p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    align-self: flex-start;
}

.querybuilder-left img {
    margin-top: 3rem;
    width: 80%;
}

.querybuilder-right {
    margin-top: 2rem;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
}

.clickable-list-item {
    cursor: pointer;
    margin: 0.2rem 0;
    padding-right: 7rem;
}

.clickable-list-details {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.1s ease-out, max-height 0.3s ease-in-out;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    width: 85%;
}

.clickable-list-item.active .clickable-list-details {
    opacity: 1;
    max-height: 200px;
}

.clickable-list-item hr {
    border: 0.3px solid white;
    background-color: white;
    opacity: 0.3;
    margin-top: 0.6rem;
}

.clickable-list-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem 0;
    width: 100%; 
    font-weight: 500;
    font-size: 0.8rem;
}

.clickable-list-item-title span{
    align-self: right;
}

.clickable-list-toggle-indicator {
    font-weight: 300;
    font-size: 1.5rem;
}

@media (max-width: 992px) {
    .querybuilder-section {
        height: auto;
        scroll-snap-align: none;
    }

    .querybuilder-section h1 {
        padding: 0px;
        width: 100%;
        margin-top: 2.5rem;
        text-align: center;
    }

    .querybuilder-content-container {
        flex-direction: column;
        height: auto;
    }

    .querybuilder-left {
        width: 100%;
        height: 100%;
        padding: 0 30px;
    }

    .querybuilder-right {
        width: 100%;
        height: auto;
        justify-content: center;
        align-content: center;
    }

    .clickable-list-item {
        padding: 0 30px;
    }
}


/* === BUSINESS INTELLIGENCE SECTION STYLES === */

.bi-section {
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.bi-left {
    width: 50%;
}

.bi-right {
    width: 50%;
}

.bi-left h1 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.bi-left p {
    width: 85%;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.bi-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bi-image img {
    width: 80%;
}

.bi-left .a-button {
    color: white;
    background-color: #D445A3;
    align-items: center;
}


@media (max-width: 992px) {
    .bi-section {
        height: auto;
        flex-direction: column;
        padding: 1rem;
        scroll-snap-align: none;
    }

    .bi-left {
        width: 90%;
    }

    .bi-left h1 {
        padding: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .bi-left p {
        width: 100%;
    }

    .bi-right {
        width: 90%;
    }

    .bi-image img {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 60%;
    }
    
}

/* === TRUSTED INDUSTRY SECTION STYLES === */

.industry-section {
    color: white;
    min-height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    background-image: linear-gradient(rgba(22, 2, 66, 0.1), rgba(22, 2, 66, 0.1)), url('./images/trusted-industry-image.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.industry-section h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}


.industry-section p {
    width: 60%;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.industry-section .a-button {
    color: white;
    background-color: #D445A3;
}

.industry-section button:hover {
    opacity: 0.9
}


@media (max-width: 992px) {
    .industry-section {
        padding: 1rem;
        scroll-snap-align: none;
    }

    .industry-section h1 {
        text-align: center;
    }

    .industry-section p {
        width: 100%;
    }
}



/* === CONTRIBUTOR SECTION STYLES === */

.contributor-section {
    min-height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.contributor-section h1 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.contributor-section p {
    width: 60%;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    text-align: left;
}

.contributor-left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contributor-right {
    width: 34%;
    height: 100%;
}

.vertical-divider {
    width: 1.5px;
    border-radius: 5px;
    opacity: 0.3;
    background-color: #4E08C7;
    margin: 0 4rem;
    align-self: stretch;
}

.contributor-left h1 {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
    width: 100%;
    text-align: left;
}


.contributor-left h2 {
    font-size: 1.2rem;
}

.contributor-left p {
    width: 100%;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.contributor-left .a-button {
    margin-top: 2rem;
    background-color: #4E08C7;
    color: white
}

.social-line-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-top: 1rem;
}

.social-line {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    align-items: flex-start;
}

.social-line p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    min-width: 250px;
}


.social-line img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
}


@media (max-width: 992px) {
    .contributor-section {
        padding: 1rem;
        flex-direction: column;
        height: auto;
        scroll-snap-align: none;
    }

    .contributor-section h1 {
        text-align: center;
        margin-top: 1rem;
    }

    .contributor-left {
        width: 100%;
        height: auto;
    }

    .contributor-right {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    .vertical-divider {
        height: 1.5px;
        width: 90%;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .social-line {
        justify-content: flex-end;
    }
}


/* === FOOTER STYLES === */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-image: linear-gradient(90deg, rgba(78,8,199,1) 0%, rgba(167,26,170,1) 50%, rgba(167,26,170,1) 100%);
    flex-shrink: 0;
}

.footer p {
    color: white;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.footer-icon-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 0.8rem;
}

.footer-icon-row img {
    height: 1.5rem;
}

/* === WAVE STYLES === */
.wave-container-expect {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10%;
    z-index: -1;
}

.wave-container-expect svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

.wave-container-query-top {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    z-index: -1;
}

.wave-container-query-top svg {
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0;
  }


.wave-container-query-bottom {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 150px;
    z-index: -1;
}

.wave-container-query-bottom svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
