/* === GENERAL STYLES === */

/* Reset default margins and padding to eliminate unexpected spacing */

body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* === CONTAINER STYLES === */

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    align-items: center;
}

/* === INTRO SECTION STYLES === */

.intro-section {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(78,8,199,1) 0%, rgba(78,8,199,1) 30%, rgba(167,26,170,1) 90%, rgba(212,69,163,1) 100%);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    overflow: hidden;
}

.intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./images/terrain.png');
    background-size: 100% auto;
    background-repeat: no-repeat; 
    background-position: 50% 35%;
    z-index: 1;
}

.intro-header {
    color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 61rem;
}

.intro-header h1 {
    font-size: 2rem;
    width: 100%;
    padding-left: 0.8rem;
    text-align: center;
}

.intro-header p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    padding-left: 0.8rem;
    text-align: center;
}


/* === COURSE SECTION STYLES === */
 
.course-section {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.course-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.course-title {
    height: 50px;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* === CONTENT SECTION STYLES === */
 
.content-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 45rem;
}

/* Make columns collapse into single column when screen too small*/
@media (max-width: 1080px) {
    .content-section {
        grid-template-columns: 1fr;
    }
}

.linkcard {
    display: flex;
    flex-direction: column;
    max-width: 85vw;
    padding: 10px;
    border: none;
    border-radius: 38px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.linkcard:hover {
    opacity: 0.8;
    border: 1px solid #b6b6b6;
}

.linkcard-image-section {
    width: 100%;
    height: 250px;
    position: relative;
}

.linkcard-grey-top {
    background-color: #f5f5f5;
    border-radius: 38px 38px 0 0;
    padding: 10px;
    height: 100%;
}

.linkcard-image-section img {
    width: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.linkcard-content-section {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.linkcard-title {
    height: 50px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.linkcard-description {
    height: 50px;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linkcard-link {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #024d9e;
}

.linkcard-link-arrow {
    margin-left: 10px;
}

/* Dark theme colours */
[data-md-color-scheme="slate"] .linkcard {
    background-color: #2f2e35;
    border: 2px solid #535353;
}

[data-md-color-scheme="slate"] .linkcard:hover {
    opacity: 0.8;
    border: 2px solid #b6b6b6;
}

[data-md-color-scheme="slate"] .linkcard-grey-top {
    background-color: #4a4a4b;
}

[data-md-color-scheme="slate"] .linkcard-link {
    color: white;
}