/* === GENERAL STYLES === */

/* Reset default margins and padding to eliminate unexpected spacing */

body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* === CONTAINER STYLES === */

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

/* === INTO SECTION STYLES === */

.intro-section {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(78,8,199,1) 0%, rgba(78,8,199,1) 30%, rgba(167,26,170,1) 90%, rgba(212,69,163,1) 100%);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    overflow: hidden;
}

/* .intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./images/terrain.png');
    background-size: 100% auto;
    background-repeat: no-repeat; 
    background-position: 50% 120%;
    z-index: 1;
} */

/* .intro-section::after {
    content: "";
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(78,8,199,0) 0%, rgba(212,69,163,0.9) 80%, rgba(212,69,163,1) 100%);
    z-index: 2;
} */

.intro-section-content {
    color: white;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 61rem;
}

.intro-left {
    height: 100%;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-right img {
    width: 100%;
    max-width: 800px;
}

.down-icon-button {
    z-index: 3;
    height: 20%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-icon-button img {
    height: 25px;
}

.down-icon-button img:hover {
    opacity: 0.8;
}

.intro-section-content h1 {
    font-size: 2rem;
    width: 100%;
    padding-left: 0.8rem;
}

.intro-section-content p {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    padding-left: 0.8rem;
}

.intro-section-content-action {
    margin: 1.5rem 0;
    padding-left: 0.8rem;
}

.intro-section-content-action .a-button {
    background-color: white;
    color: #4E08C7;
}

.intro-section-content-action .a-button:hover {
    opacity: 0.9;
}

.intro-section-content-action .a-tag {
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    margin-left: 2rem;
    letter-spacing: 0.04rem;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.intro-section-content-action a:hover {
    opacity: 0.9;
}

 
/* === WAVE STYLES === */
/* .wave-container-expect {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10%;
    z-index: -1;
}

.wave-container-expect svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

.wave-container-query-top {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50px;
    z-index: -1;
}

.wave-container-query-top svg {
    display: inline-block;
    position: absolute;
    bottom: -1px;
    left: 0;
  }


.wave-container-query-bottom {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 150px;
    z-index: -1;
}

.wave-container-query-bottom svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  } */
