# Do not include azure-functions-worker as it may conflict with the Azure Functions platform
azure-functions==1.20.0
fastapi==0.121.0
starlette==0.49.1
pydantic==2.10.1
# turbodbc==4.11.0
pyodbc==5.2.0
importlib_metadata>=7.0.0,<9.0.0
databricks-sql-connector==3.6.0
azure-core>=1.38.0,<2.0.0
azure-identity==1.25.1
oauthlib>=3.2.2
pandas>=2.0.1,<2.3.0
numpy==1.26.4
pyarrow>=14.0.1,<17.0.0
urllib3>=2.6.3,<3.0.0
werkzeug>=3.1.5,<4.0.0
jinja2==3.1.6
pytz==2024.2
semver==3.0.2
xlrd==2.0.1
packaging==24.2
grpcio>=1.48.1,<1.63.0
grpcio-status>=1.48.1,<1.63.0
googleapis-common-protos>=1.56.4
protobuf>=5.29.0,<5.30.0
pyjwt==2.10.1