# Do not include azure-functions-worker as it may conflict with the Azure Functions platform
azure-functions==1.15.0
fastapi==0.100.0
nest_asyncio==1.5.6
strawberry-graphql[fastapi,pydantic]==0.194.4
turbodbc==4.5.10
pyodbc==4.0.39
importlib_metadata>=1.0.0
databricks-sql-connector==2.7.0
azure-identity==1.12.0
oauthlib>=3.2.2
pandas==1.5.2
numpy==1.23.5
jinja2==3.1.2 
pytz==2022.6
semver==3.0.0
xlrd==2.0.1
packaging==23.1
grpcio>=1.48.1
grpcio-status>=1.48.1
googleapis-common-protos>=1.56.4
langchain==0.0.230
openai==0.27.8