# Do not include azure-functions-worker as it may conflict with the Azure Functions platform
azure-functions==1.20.0
fastapi==0.115.6
pydantic==2.10.0
# turbodbc==4.11.0
pyodbc==5.2.0
importlib_metadata>=7.0.0
databricks-sql-connector==3.6.0
azure-identity==1.20.0
oauthlib>=3.2.2
pandas>=2.0.1,<2.3.0
numpy==1.26.4
jinja2==3.1.5
pytz==2024.2
semver==3.0.2
xlrd==2.0.1
packaging==24.2
grpcio>=1.48.1
grpcio-status>=1.48.1
googleapis-common-protos>=1.56.4
protobuf>=5.28.2,<5.29.0
langchain>=0.3.27,<0.4.0
langchain-community>=0.3.27,<0.4.0
langchain-core>=0.3.28,<0.4.0
langchain-text-splitters>=0.3.5,<0.4.0
openai>=1.59.0,<2.0.0
pyjwt==2.10.0
