name: "Test (Devcontainer)"

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  test_in_devcontainer:
    runs-on: ubuntu-latest

    steps:
      - name: Free disk space on runner
        run: |
          echo "Disk usage before cleanup:"
          df -h

          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/share/android-sdk

          echo "Disk usage after cleanup:"
          df -h

      - name: Checkout
        uses: actions/checkout@v4

      - name: Build devcontainer and run tests
        uses: devcontainers/ci@v0.3
        with:
          runCmd: |
            mamba run -n rtdip-sdk python --version
            mamba run -n rtdip-sdk pytest tests
